# Ignore Gradle project-specific cache directory
.gradle


# Ignore Gradle build output directory
build


# Ignore intellij configs
.idea


# Ignore vscode configs
.vscode


# Ignorar os arquivos .jar, menos o que criamos
!app/libs/*.jar
